{% extends 'base.html' %}

{% block content %}
<h1>Login</h1>

<form action="/login" method="POST" class="my-3">
    <div class="mb-3">
        <label for="login" class="form-label">Login:</label>
        <input type="text" id="login" name="login" class="form-control">
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" id="password" name="password" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Enter</button>
</form>
{% endblock %}
