{% extends 'base.html' %}

{% block content %}
<h1>Book Your Reservation</h1>

<form method="post" action="/user/reservations" class="my-3">
    <input type="hidden" name="trainer_id" value="{{ form_info['trainer_id'] }}">
    <input type="hidden" name="service_id" value="{{ form_info['service_id'] }}">
    <input type="hidden" name="date" value="{{ form_info['date'] }}">

    <div class="mb-3">
        <label for="slots" class="form-label">Choose a time:</label>
        <select name="slots" id="slots" class="form-select">
            {% for time in form_info['time_slots'] %}
            <option value="{{ time }}">{{ time }}</option>
            {% endfor %}
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
