<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Title</title>

  </head>
  <body>
  <form action="/register" method="POST">
  <label for="login">login:</label><br>
  <input type="text" id="login" name="login"><br>
  <label for="password">password:</label><br>
  <input type="password" id="password" name="password"><br>
  <label for="birth_date">birth_date:</label><br>
  <input type="date" id="birth_date" name="birth_date"><br>
  <label for="phone">phone:</label><br>
  <input type="text" id="phone" name="phone"><br>

  <input type="submit" value="Submit">
  </form>

  </body>
</html>
