{% extends 'base.html' %}

{% block content %}
<h1>User Information</h1>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Profile Details</h5>
    <p class="card-text">
        <strong>Login:</strong> {{ user_info.login }}
    </p>
    <p class="card-text">
        <strong>Phone:</strong> {{ user_info.phone }}
    </p>
    <p class="card-text">
        <strong>Birth Date:</strong> {{ user_info.birth_date }}  <!-- Format date output -->
    </p>
    <p class="card-text">
        <strong>Funds:</strong> ${{ user_info.funds }}  <!-- Format funds output -->
    </p>
  </div>
</div>
{% endblock %}
